{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>AutoBay</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-ebook-landing.css' %}" rel="stylesheet">
<!--

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

-->
<style>
 label{
    margin-top: 20px;
 }
 .form-container {
            max-width: 1000px;
            margin: auto;
            padding: 20px;
            background-color:rgb(126, 117, 117);
        }
        @media (max-width: 768px) {
     
     .navbar-brand span,
     .navbar-nav .nav-link {
         color: white !important; /* Change to your desired color */
     }
     i.fa-car-side {
         color: white !important; /* Car icon color on mobile */
     }
     .card-columns {
         column-count: 1;
     }
 }
    
</style>
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="fa-solid fa-car-side"></i>
                        <span>AutoBay</span>
                    </a>

                  
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto me-lg-4">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sindex' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'addcar' %}">Add Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'mycars' %}">My Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sellerbookings' %}">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sellerprofile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link click-scroll" href="{% url 'slogout' %}">slogout</a>
                          </li>
                           
                        </ul>

                       
                    </div>
                </div>
            </nav>
       
        </main>

 
                    <section class="reviews-section section-padding" id="section_4" style="margin-top: 80px;">
                        <div class="container">
                            <div class="row">
        
                                {% for car in cars %}
                               
                                <div class="card mb-3">
                                    <a href="{% url 'mycar_detail' car.id %}">
                                            <img class="card-img-top" src="{{ car.imageURL }}" alt="Card image cap">
                                            <div class="card-body">
                                              <h5 class="card-title">{{ car.name }}</h5>
                                              <p style="font-size: 13px;">{{ car.mileage }}K km.{{ car.fuel_type }}.{{ car.transmission }}</p>
                                              <p class="card-text">{{ car.price }}L</p>
                                          </div>
                                        </a>
                                    </div>
                             
                                {% endfor %}
                              
                            </div>
                        </div>
                    </section>

        <!-- <div class="container-fluid" style="margin-top: 20px; background-color: rgb(126, 117, 117);">           
            <h2 style="text-align: center;">Your Cars</h2>
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Brand</th>
                        <th scope="col">Car Name</th>
                        <th scope="col">Seller</th>
                        <th scope="col">Description</th>
                        <th scope="col">Mileage</th>
                        <th scope="col">Price</th>
                        <th scope="col">Location</th>
                        <th scope="col">Registration Year</th>
                        <th scope="col">Registration Number</th>
                        <th scope="col">Engine Capacity</th>
                        <th scope="col">Insurance</th>
                        <th scope="col">Spare Key</th>
                        <th scope="col">Transmission</th>
                        <th scope="col">Fuel Type</th>
                        <th scope="col">Image</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <th>{{ car.brand }}</th>
                        <th>{{ car.name }}</th>
                        <th>{{ car.seller.username }}</th>
                        <th>{{ car.description }}</th>
                        <th>{{ car.mileage }}</th>
                        <th>{{ car.price }}</th>
                        <th>{{ car.location }}</th>
                        <th>{{ car.registration_year }}</th>
                        <th>{{ car.registration_number }}</th>
                        <th>{{ car.engine_capacity }}</th>
                        <th>{{ car.insurance }}</th>
                        <th>{{ car.spare_key }}</th>
                        <th>{{ car.transmission }}</th>
                        <th>{{ car.fuel_type }}</th>
                        <th><a href="{{ car.imageURL }}">{{ car.imageURL }}</a></th>
                        <th><a href="{% url 'updatecar' car.id %}" class="btn btn-success">Update</a></th>
                        <th><a href="{% url 'deletecar' car_id=car.id %}" class="btn btn-danger">Delete</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div> -->
        <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->

        <!-- JAVASCRIPT FILES -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>