{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>AutoBay</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-ebook-landing.css' %}" rel="stylesheet">
<!--

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

-->
<style>
    .card:hover {
  transform: scale(1.02);
}
.hero-section {
    background-image: url('https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust the height as needed */
    padding: 100px 0; /* Adjust top and bottom padding as needed */
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text */
}

.hero-section p {
    font-size: 24px;
    margin-top: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text */
}

.hero-section .btn {
    font-size: 18px;
    border-radius: 30px; /* Makes the button rounded */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Adds a shadow to the button */
}
@media (max-width: 768px) {
     
        .navbar-brand span,
        .navbar-nav .nav-link {
            color: white !important; /* Change to your desired color */
        }
        i.fa-car-side {
            color: white !important; /* Car icon color on mobile */
        }
        .card-columns {
            column-count: 1;
        }
    }
</style>

    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="fa-solid fa-car-side"></i>
                        <span>AutoBay</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto me-lg-4">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sindex' %}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'addcar' %}">Add Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'mycars' %}">My Cars</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href=""></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sellerbookings' %}">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'sellerprofile' %}">Profile</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'slogout' %}">slogout</a>
                            </li>
    
                           
                        </ul>

                       
                    </div>
                </div>
            </nav>
            

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="text-white">Introducing Used Cars</h1>
                            <p class="text-white">Explore our wide range of high-quality used cars at affordable prices</p>
                            <a href="#explore" class="btn btn-primary btn-lg mt-3">Explore Now</a>
                        </div>
                    </div>
                </div>
            </section>
            

                        <section class="reviews-section section-padding" id="section_4">
                            <div class="container">
                                <div class="row">
            
                                    <div class="col-lg-12 col-12 text-center mb-5" id="explore">
                                        <h6>Cars</h6>
            
                                        <h2>Explore...</h2>
                                    </div>
                                    {% for car in cars %}
                                    <div class="card mb-3">
                                            <img class="card-img-top" src="{{ car.imageURL }}" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ car.name }}</h5>
                                                <p style="font-size: 13px;">{{ car.mileage }}K km.{{ car.fuel_type }}.{{ car.transmission }}</p>
                                                <p class="card-text">{{ car.price }}L</p>
                                            </div>
                                       
                                    </div>
                                    {% endfor %}
                                  
                                </div>
                            </div>
                        </section>

                        <section class="contact-section section-padding" id="section_5">
                            <div class="container">
                                <div class="row">
            
                                    <div class="col-lg-5 col-12 mx-auto">
                                        <form class="custom-form ebook-download-form bg-white shadow" action="{% url 'sendsellercomplaint' %}" method="post" role="form">
                                            {% csrf_token %}
                                            <div class="text-center mb-5">
                                                <h2 class="mb-1">Post Your Complaints</h2>
                                            </div>
            
                                            <div class="ebook-download-form-body">
                                                <div class="input-group mb-4">
                                                    <input type="text" name="ebook-form-name" value="{{request.user.name}}" id="ebook-form-name" class="form-control" aria-label="ebook-form-name" aria-describedby="basic-addon1" placeholder="Your Name" required>
            
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <i class="custom-form-icon bi-person"></i>
                                                    </span>
                                                </div>
            
                                                <div class="input-group mb-4">
                                                    <input type="email" name="ebook-email" value="{{request.user.email}}" id="ebook-email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="your@company.com" aria-label="ebook-form-email" aria-describedby="basic-addon2" required="">
            
                                                    <span class="input-group-text" id="basic-addon2">
                                                        <i class="custom-form-icon bi-envelope"></i>
                                                    </span>
                                                </div>
            
                                                <div class="input-group mb-4">
                                                    <textarea name="complaint" id="complaint" class="form-control" placeholder="Type your complaint here" aria-label="complaint" aria-describedby="basic-addon3" required></textarea>
                                                    <span class="input-group-text" id="basic-addon3">
                                                        <i class="custom-form-icon bi-chat-square-text"></i>
                                                    </span>
                                                </div>
            
                                                <div class="col-lg-8 col-md-10 col-8 mx-auto">
                                                    <button type="submit" class="form-control">Send</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
            
                                    <div class="col-lg-6 col-12">
                                        <h6 class="mt-5">Say hi and talk to us</h6>
            
                                        <h2 class="mb-4">Contact</h2>
            
                                        <p class="mb-3">
                                            <i class="bi-geo-alt me-2"></i>
                                            Ernakulam,Kochi
                                        </p>
            
                                      
            
                                        <p>
                                            <a href="mailto:info@company.com" class="contact-link">
                                                info@usedcars.com
                                            </a>
                                        </p>
            
                                        <h6 class="site-footer-title mt-5 mb-3">Social</h6>
            
                                        <ul class="social-icon mb-4">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-instagram"></a>
                                            </li>
            
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                            </li>
                                            
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-facebook"></a>
                                            </li>
            
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                                            </li>
                                        </ul>
            
                                        <p class="copyright-text">Copyright © UsedCars
                                    </div>
            
                                </div>
                            </div>
                        </section>
        </main>

        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>