<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="register" method="POST">
    {% csrf_token %}
    <input type="text" name="uname" placeholder="Username"><br>
    <input type="text" name="fname" placeholder="First Name"><br>
    <input type="text" name="lname" placeholder="Last Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="pass" placeholder="Password"><br>
    <input type="password" name="cpass" placeholder="Confirm Password"><br>
    <input type="submit"><br>
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>