<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
<h1><b>Complete the Form</b></h1>
<form action="form" method="get">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="text" name="dob" placeholder="Date of Birth"><br>
    <input type="text" name="age" placeholder="Age"><br>
     Gender <input type="radio" name="f" value="F"><input type="radio" name="m" value="M"><br>

      <input type="text" name="phn" placeholder="Ph no"><br>
      <input type="email" name="email" placeholder="Email"><br>
      <input type="text" name="add" placeholder="Address"><br>
      <input type="password" name="cpass" placeholder="Confirm Password"><br>
      <input type="listbox" name="dep" placeholder="Department"><br>
      <input type="password" name="cpass" placeholder="Confirm Password"><br>
    <input type="submit"><br>
</form>
    </center>
</body>
</html>