<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>Title</title>
</head>
<body>
    <center>
<h1><b>Register</b></h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username"><br><br>
    <input type="password" name="password" placeholder="Password"><br><br>
    <input type="password" name="cpass" placeholder="Confirm Password"><br><br>
    <input type="submit"><br>
</form>
        </center>
</body>
</html>