{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>AutoBay</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-ebook-landing.css' %}" rel="stylesheet">
<!--

TemplateMo 588 ebook landing

https://templatemo.com/tm-588-ebook-landing

-->
<style>
 label{
    margin-top: 20px;
 }
 .form-container {
            max-width: 1000px;
            margin: auto;
            padding: 20px;
            background-color:rgb(126, 117, 117);
        }
        @media (max-width: 768px) {
      
            .navbar-brand span,
            .navbar-nav .nav-link {
                color: white !important; /* Change to your desired color */
            }
            i.fa-car-side {
                color: white !important; /* Car icon color on mobile */
            }
            .card-columns {
                column-count: 1;
            }
        }
</style>
    </head>
    
    <body>

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <i class="fa-solid fa-car-side"></i>
                        <span>AutoBay</span>
                    </a>

                 
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-auto me-lg-4">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'home' %}">Home</a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'bookings' %}">Bookings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'userprofile' %}">Profile</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link click-scroll" href="{% url 'logout' %}">logout</a>
                          </li>
                           
                        </ul>

                       
                    </div>
                </div>
            </nav>
       
        </main>
        <div class="form-container p-5 mt-5">
            <h2 style="text-align: center;">View Bookings</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Car Name</th>
                            <th scope="col">Booking Date</th>
                            <th scope="col">Delivery Date</th>
                            <th scope="col">Price</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking in bookings %}
                        <tr>
                            <th>{{ booking.car.name }}</th>
                            <td>{{ booking.booking_date|date:"Y-m-d" }}</td>
                            <td>{{ booking.delivery_date|date:"Y-m-d" }}</td>
                            <td>{{ booking.car.price }}L</td>
                            <td>{{ booking.status }}</td>
                            <td><a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger">Cancel</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>
</html>